<h1 class="article-title"><%= @last_article.title %></h1>

<% if @last_article.photos.count != 0 %>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <% @last_article.photos.except(@new_photo).each_with_index do |photo, index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
          <%= image_tag photo.photo.url, class:"carousel-photo" %>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<% end %>

<%= simple_format (@last_article.description), class:"article-description-block" %>
