<div class="container my-5 slide-up">
  <div class="d-flex flex-wrap justify-content-center  margin-auto text-black">
    <div class="container my-3 col-md-5 col-sm-10">
      <div class="card bg-dark text-white border-silver">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KL1wE1YKXcA" width="100%" height="300px" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Title:</h5>
          <p class="card-text">Description:</p>
        </div>
      </div>
    </div>
    <div class="container my-3 col-md-5 col-sm-10">
      <div class="card bg-dark text-white border-red">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KL1wE1YKXcA"  width="100%" height="300px" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Title:</h5>
          <p class="card-text">Description:</p>
        </div>
      </div>
    </div>
    <div class="container my-3 col-md-5 col-sm-10">
      <div class="card bg-dark text-white border-red-thick">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KL1wE1YKXcA"  width="100%" height="300px" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Title:</h5>
          <p class="card-text">Description:</p>
        </div>
      </div>
    </div>
    <div class="container my-3 col-md-5 col-sm-10">
      <div class="card bg-dark text-white border-black">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KL1wE1YKXcA"  width="100%" height="300px" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h5 class="card-title">Title:</h5>
          <p class="card-text">Description:</p>
        </div>
      </div>
    </div>
  </div>
</div>
