<div class="container my-5 slide-up">
  <div class="d-flex flex-wrap justify-content-center  margin-auto text-black">
    <div class="container my-3 col-md-5 col-sm-10">
      <div class="card bg-dark text-white border-silver">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KL1wE1YKXcA" width="100%" height="300px" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h3 class="card-title border-bottom border-danger">New Champion!</h3>
          <h5 class="card-text border-bottom border-danger">Jorge Masvidal is a new BMF belt owner</h5>
        </div>
      </div>
    </div>
    <div class="container my-3 col-md-5 col-sm-10">
      <div class="card bg-dark text-white border-silver">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KL1wE1YKXcA" width="100%" height="300px" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h3 class="card-title border-bottom border-danger">New Champion!</h3>
          <h5 class="card-text border-bottom border-danger">Jorge Masvidal is a new BMF belt owner</h5>
        </div>
      </div>
    </div>
    <div class="container my-3 col-md-5 col-sm-10">
      <div class="card bg-dark text-white border-silver">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KL1wE1YKXcA" width="100%" height="300px" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h3 class="card-title border-bottom border-danger">New Champion!</h3>
          <h5 class="card-text border-bottom border-danger">Jorge Masvidal is a new BMF belt owner</h5>
        </div>
      </div>
    </div>
    <div class="container my-3 col-md-5 col-sm-10">
      <div class="card bg-dark text-white border-silver">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/KL1wE1YKXcA" width="100%" height="300px" allowfullscreen></iframe>
        </div>
        <div class="card-body">
          <h3 class="card-title border-bottom border-danger">New Champion!</h3>
          <h5 class="card-text border-bottom border-danger">Jorge Masvidal is a new BMF belt owner</h5>
        </div>
      </div>
    </div>
  </div>
</div>
