<!--
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>
-->
<div class="bg-dark-opacity rounded-3 container">
  <h1 class="mt-4"><%= simple_format(t('about_us_title')) %></h1>
  <%= simple_format h(t "about_us"), class:"about-us-text fs-6" %>
</div>