<div class="container mt-5">
  <div class="text-center">
    <h1 class="main-title-uc text-center text-decoration-underline mb-5">Gotham Promotion</h1>
  </div>
  <div class="row justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-10 col-md-8">
      <div class="table-responsive">
        <table class="table table-dark table-striped table-borderless fs-3">
          <tbody class="text-center">
            <tr>
              <td>(EN) Website is under construction</td>
            </tr>
            <tr>
              <td>Please check back later. We're working on creating a new and amazing site.</td>
            </tr>
            <tr>
              <td><br></td>
            </tr>
            <tr>
              <td>(ES) Sitio en desarrollo</td>
            </tr>
            <tr>
              <td>Por favor, vuelva más tarde. Estamos trabajando en la creación de un sitio nuevo y sorprendente.</td>
            </tr>
            <tr>
              <td><br></td>
            </tr>
            <tr>
              <td>(PL) Strona w budowie</td>
            </tr>
            <tr>
              <td>Proszę sprawdzić później. Pracujemy nad stworzeniem nowej i niesamowitej strony.</td>
            </tr>
            <tr>
              <td><br></td>
            </tr>
            <tr>
              <td>(RU) Сайт в разработке</td>
            </tr>
            <tr>
              <td>Пожалуйста, зайдите позже. Мы работаем над созданием нового удивительного сайта.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
