/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */


 @import "font-awesome";
 @import "bootstrap/scss/bootstrap";
 @import "navigation";
 @import "article";
 @import "fight";
 @import "hero";

// * {
  // border: 1px silver solid;
// }

body {
  font-size: 1.4em;
  font-family: 'Alumni Sans', sans-serif;
  color: white;
  // background-image: url("hero.jpg");
  // background-size: auto 1400px;
  // background-repeat: no-repeat;
  background-color: #232122;
}

@media (min-width: 600px) {
  body {
    font-size: 1.8em;
  }
}

.bg-dark-opacity {
  background-color: rgba(35, 33, 34, 0.5);
}

.my-custom-shadow {
  box-shadow: 0 .5rem 1rem rgba(35, 33, 34, 0.3);  /* Измените значения здесь */
}

.icons-lang {
  display: flex;
}

.red {
  color: red;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.shop-block {
  position: relative; /* Добавить свойство position: relative, чтобы дочерний абсолютный элемент был позиционирован относительно этого элемента */
  height: 400px;
  overflow: hidden; /* Скрываем все, что выходит за пределы этого элемента */
  
  img {
    height: 100%;
    object-fit: contain;
  }
  
  .product-info {
    opacity: 0;
    border-radius: 3px;
  }

  &:hover .product-info {
    opacity: 1;
    position: absolute; /* Позиционируем абсолютно внутри .shop-block */
    bottom: -100%; /* Перемещаем его за пределы видимой области снизу */
    left: 0; right: 0; /* Расширяем на всю ширину */
    background-color: rgba(0, 0, 0, 0.7); /* Задаем фон */
    transition: 0.3s; /* Эффект анимации */
    color: red; /* Цвет текста */
    padding: 15px; /* Внутренние отступы */
    bottom: 0; /* При наведении перемещаем элемент наверх */
  }
}

@media (max-width: 700px) {
  .product-info {
    opacity: 1 !important;
    background-color: rgba(0, 0, 0, 0.7); /* Задаем фон */
  }
}

.us-us {
  display: flex;
  text-align: center;
  font-size: 1.5em;
}

.us-block {
  display: flex;
  flex-direction: column;
  height: 400px;
  img {
    height: 100%;
    object-fit: contain;

  }

}

.gotham-link {
  color: #ff0000;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: underline;
    transition: all ease .2s;
  }
}

.text-red {
  color: red;
  &:hover {
    color: white;
  }
}

hr {
  margin: 1rem 0 0 0;
}

.main-title {
  color: red;
  position: relative;
  font-family: 'Headline Text', sans-serif;
  font-size: 3rem;
  left: 0;
  // letter-spacing: 3px;
  width: 100%;
  text-align: center;
  background: -webkit-linear-gradient(#ff0000, #ff6666 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 660px) {
  .main-title {
    font-size: 4em;
  }
}

@media (min-width: 990px) {
  .main-title {
    font-size: 4em;
    left: 15%;
    letter-spacing: 3px;
    // font-weight: 1.2;
    // margin-bottom: 1rem;
  }
}

@media (min-width: 1100px) {
  .main-title {
    font-size: 5em;
  }
}

.main-title-uc {
  // margin-top: 18px;
  // font-size: 3em;
  color: red;
  position: relative;
  font-family: 'Headline Text', sans-serif;
  font-size: 4rem;
  // font-weight: 130%;
  letter-spacing: 3px;
  background: -webkit-linear-gradient(#ff0000, #ff6666 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 600px) {
  .main-title-uc {
    font-size: 5em;
    letter-spacing: 3px;
  }
}

.versus-image {
  max-height: 150px;
}

.underline {
  border-bottom: 2px solid red;
}

.img-fluid {
  height: 600px;
}

.fighter-bust {
  height: 300px;
}

.swords {
  display: flex;
  justify-content: center;
  align-items: center;
}
.i-bust-image {
  height: 100px;
}

.btn {
  border-radius: 3px;
  font-weight: bold;
}

.hov {
  &:hover {
    background-color: rgba(62, 62, 62, 0.5);
  }
}
.join-us-btn {
  width: 35%;
}

.join-us {
  display: flex;
  justify-content: center;
}
/* Серебристая кнопка */
.btn-silver {
  background-color: #c0c0c0;
  border: none;
  color: #000;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-silver:hover {
  background-color: #a9a9a9;
  box-shadow: 0 0 0 0 rgba(169, 169, 169, 0.5);
}

.border-silver {
  border: 1px solid #c0c0c0;
  border-radius: 3px;
}

.border-black {
  border: 2px solid black;
  border-radius: 3px;
}

.border-red {
  border: 1px solid red;
  border-radius: 3px;
}

.border-red-thick {
  border: 3px solid red;
  border-radius: 3px;
}


.container-fluid {
  max-height: 95px;
}

.contact-icon {
  font-size: 1.5rem !important;
  margin: auto 6px;
  color: red;
  transition: transform 0.3s ease, color 0.3s ease;  /* добавим переход */
}

.contact-icon:hover {
  transform: scale(1.4);  /* при наведении увеличиваем иконку */
  color: rgb(187, 17, 17);  /* меняем цвет иконки при наведении */
}

.cont-lang-block {
  display: flex;
  align-items: baseline;
}

.about-us-text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
}

@media (min-width: 600px) {
  .about-us-text {
  font-size: 1.4rem;
  }
}

.burger {
  justify-content: center !important;
}

.row {
  display: flex;
  flex-direction: column;
}


// .carousel-inner {
//   text-align: center;
//   .img {
//     max-height: 500px;
//   }
// }

// .carousel-photo {
  // height: 500px;
// }

.carousel-inner {
  width: 100%;
  height: 25em; /* Замените на желаемую высоту */
  overflow: hidden;
}

@media (max-width: 700px) {
  .carousel-inner {
    height: 10em;
  }
  .fighter-bust {
    height: 8rem;
  }
  .versus-image {
    max-height: 4rem;
  }
  .join-us-btn {
    margin-bottom: 1rem;
    width: 60%;
  }
}

.announcement-pic {
  max-width: 100%;
}

.carousel-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  margin: 0 auto; /* Добавлено для выравнивания по центру */
}

.lang-construction {
  padding-left: 0;
  list-style-type: none;
}

.slide-up {
  opacity: 0;
  transform: translateY(150px);
  transition: all 1s ease;
  visibility: hidden;
}

.slide-up.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.text-justify {
  text-align: justify;
}

#myBtn {
  line-height: 1em;
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 30px; /* Place the button at the bottom of the page */
  right: 40px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 50%; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  opacity: 70%;
}


@media (min-width: 600px) {
  #myBtn {
    opacity: 50%;
  }
  #myBtn:hover {
    opacity: 1;
  }
}