.hero-section {
  height: 80vh;
  position: relative;
  display: flex;
  justify-content: center center;
}

.hero-title {
  width: 100%;
  text-align: center;
  letter-spacing: 12px;
  color: rgba(255, 0, 0, 0.943);
  font-weight: bold;
  font-size: 5rem;
  top: 100%;
}

@media (max-width: 968px) {
  .hero-title {
    font-size: 3rem;
    top: 60%;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 2rem;
  }
}

.parallax-section {
  background-image: url("hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 765px) {
  .parallax-section {
    height: 19rem;
    background-image: url("hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
