.navigation {
  position: sticky;
  background-color: #232122;
}


@media (max-width: 660px) {
  .navigation {
    position: relative;
  }
}

.navbar-brand {
  display: flex;
  align-items: center;
  // margin-left: 5rem;
  margin-right: 0px;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

.navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

.navbar * {
  border: none !important;
  box-shadow: none !important;
}

.navbar-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}


.nav-link {
  font-size: 1.4rem;
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: red !important;
    text-decoration: underline;
    transition: all ease .4s;
  }
}

@media (max-width: 968px) {
  .nav-item {
    display: flex;
    justify-content: center;
  }

  .navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
    justify-content: center;
  }
  
  .nav-link {
    color: red;
  }
}

.logo-img {
  margin-top: 5px;
  height: 90px;
  position: absolute;

  &:hover {
  height: 110px;
  transition: all ease .2s;

  }
}

.lang-icon {
  margin-bottom: 3px;
  width: 20px;
  height: 20px;
}

.dropdown-menu {
  border-radius: 3px !important;
}

.lang-menu[data-bs-popper] {
  left: -60%;
}

.drop, .lang-menu[data-bs-popper] {
  font-size: 1em;
}

#lang-selector {
  text-transform: capitalize;
  &:hover {
    // text-decoration: none;
    color: white !important;
  }
}

@media (max-width: 968px) {
  .dis-no {
    display: none;
  }
}

@media (min-width: 768px) {
  .dis-no-desktop {
    display: none !important;
  }
}

.my-dropdown {
  flex-direction: column;
  text-align: center;
}

.logo-burger {
  position: relative;
  height: 3em;
  overflow: hidden;
  z-index: 2;
}

.shine-effect {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border-radius: 50%;
}

.shine-effect::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 6%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(-30deg);
  pointer-events: none;
  z-index: 1;
  animation: shine 2.2s infinite;
}

@keyframes shine {
  0% {
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(-100%) rotate(-30deg);
  }
  50% {
    background: rgb(246, 108, 108);
  }
  100% {
    background: rgba(255, 255, 255, 0.1);
    transform: translateX(3000%) rotate(-30deg);
  }
}

// .star-effect {
//   position: absolute !important;
//   top: 0;
//   right: 0;
//   height: 1rem;
//   opacity: 0;
//   animation: blink 5s infinite;
// }

// @keyframes blink {
//   40% {opacity: 0;}
//   50% {opacity: 1;}
//   60% {opacity: 0;}
// }

// .logo-burger-wrapper {
//   position: relative; /* Обязательно для правильного позиционирования звезды */
// }
