.navigation {
  position: sticky;
  background-color: #232122;
}

.navbar-brand {
  display: flex;
  align-items: center;
  // margin-left: 5rem;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
}

.navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}


.nav-link {
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;

  &:hover {
    color: red !important;
    text-decoration: underline;
    transition: all ease .4s;
  }
}

@media (max-width: 968px) {
  .nav-item {
    display: flex;
    justify-content: center;
  }

  .navbar > .container, .navbar > .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl, .navbar > .container-xxl {
    justify-content: center;
  }
  
  .nav-link {
    color: red;
  }
}

.logo-img {
  margin-top: 5px;
  height: 90px;
  position: absolute;

  &:hover {
  height: 110px;
  transition: all ease .2s;

  }
}

.lang-icon {
  margin-bottom: 3px;
  width: 20px;
  height: 20px;
}

.dropdown-menu {
  border-radius: 3px !important;
}

.lang-menu[data-bs-popper] {
  left: -60%;
}

.drop, .lang-menu[data-bs-popper] {
  font-size: 1em;
}

#lang-selector {
  text-transform: capitalize;
  &:hover {
    // text-decoration: none;
    color: white !important;
  }
}

@media (max-width: 768px) {
  .dis-no {
    display: none;
  }
}